#carousel {
    display: block;
    height: auto;
    margin: 0 auto;
    -webkit-perspective: 1200px;
    perspective: 1200px;
    position: relative;
    top: 200px;
    width: 1200px;
}

#container {
    display: block;
    height: 200px;
    margin: 0 auto;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-origin: center bottom 0;
    transform-origin: center bottom 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    width: 200px;
    z-index: 1000;
}

item {
    display: block;
    margin: 0;
    padding: 0;
    width: 200px;
    -webkit-transform: translateZ(400px);
    -ms-transform: translateZ(400px);
    -o-transform: translateZ(400px);
    transform: translateZ(400px);
    position: absolute;
}
item img {
    width: 100%;
}

.tc-btn-container {
  display: block;
  float: left;
  height: 35px;
  margin-top: -12.5px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.tc-next {
    background-color: yellow;
    color: white;
    display: block;
    float: right;
    font-size: 12px;
    padding: 10px;
    width: auto;
    cursor: pointer;
}

.tc-prev {
    background-color:yellow;
    color: white;
    display: block;
    float: left;
    font-size: 12px;
    padding: 10px;
    width: auto;
    cursor: pointer;
}