.clearfix:before,
.clearfix:after {
	content：" ";
	display: table;
}
.clearfix:after {
	clear:both;
}
.clearfix {
	zoom: 1;
}
*{margin: 0;padding: 0;}
@font-face{
	font-family:aaa;
	src:url(../fonts/简娃娃篆.ttf);
}
#header{
	
}
#one{
	height: 45px;
	background-color:#244d5f;
}
.top{width: 1000px;
	height: 45px;
	margin: 0 auto;
	background-color:#244d5f;
}

.topleft{
	width: 816px;
	float: left;
}
.topleft img{
	margin-top: 12px;
	float: left;
	margin-right: 13px;
}
.top a{
	float: left;
	font-family:微软雅黑;
	font-size: 16px;
	text-decoration: none;
	color:white;
	list-style: none;
	margin-top: 10px;

}
.topleft .num .gps{
	margin-right: 15px;
	float: left;
	font-family:微软雅黑;
	font-size: 16px;
	text-decoration: none;
	color:white;
	list-style: none;
	margin-top: 10px;
}
.topleft .num .gpsa{
	color:#c6c5c6;
	margin-right:74px;

}
.yincang{
	position: absolute;
	top:40px;
	left:14%;
	display: none;
	width: 738px;
	height: 113px;background-color:white;
	z-index: 99;
}
.bigul{
	width: 624px;
	float: left;
}
.bigul li{
	float: left;
	color:#52bbdb;
	font-family: 微软雅黑;
	font-size: 14px;
	list-style: none;
	width: 66px;
	margin-top:4px;
}
.smallul{
	width: 113px;
	float:left;
}
.smallul p{
	font-family: 微软雅黑;
	font-size: 13px;
	color: black;
	text-align: center;
	margin-top:4px;
}
.topleft .app{
	float: left;
	font-family:微软雅黑;
	font-size: 16px;
	text-decoration: none;
	color:white;
	list-style: none;
	margin-top: 10px;
}
.topright{
	margin-left: 493px;


}

.topright .numb .denlu{
	margin-left:10px;
	text-decoration: none;
	font-family:微软雅黑;
	font-size: 16px;
	color:white;
	float: left;
	margin-top: 10px;
}

.topright .numb .zhuce{
	margin-left:10px;
	text-decoration: none;
	font-family:微软雅黑;
	font-size: 16px;
	color:white;
	float:left;
	margin-top: 10px;
}
.topright .numb .shutiao{
	margin-left:10px;
	text-decoration: none;
	font-family:微软雅黑;
	font-size: 16px;
	color:white;
	float: left;
	margin-top: 10px;
}
.topright img{
	margin-top:8px;
	float: left;
	margin-right: 17px;
}
.topright .numb{
	float: right;
}
.error{
	color:red;
}
.block{
	display: block;

}
form .cmxform label .error{
	display: none;
}
fieldset{
	text-align: center;

}
.modal-body2{
	height:523px;
	width: 501px;
	}
.modal-content{
	width: 501px;
}
.h2{width: 501px;
	height: 130px;
	margin: 0 auto;
}
.ai{width: 174px;
	height: 38px;
	margin: 0 auto;
	padding-top: 23px;
}
.yxbiao{
	width: 353px;
	height: 124px;
	margin: 0 auto;
}
.yxbiao input{
	width: 353px;
	height: 56px;
}
/*yhd{width: 353px;
	height: 74px;
	margin: 0 auto;
}*/
#dl{
	margin-top: 16px;
	width: 353px;
	height: 56px;
	background-color: #50bbdb;
	text-align:center;
	line-height: 56px;
	font-size: 18px;
	color: white;
}

.wangji{
	width: 353px;
	height: 40px;
	margin: 0 auto;
	margin-top:100px;
}
.wangji b{
	font-family:微软雅黑;
	font-size:12px;
	color:black;

}
.baoming{
	margin-top: 0px;
	width: 353px;
	height: 43px;
	margin: 0 auto;
}
.baoming p{
	float: left;
}
.budenglu{
	width: 234px;
	height: 44px;
	margin: 0 auto;
	background-color: #50bbdb;
	margin-top: 30px;
}
.budenglu p{
	font-family: "微软雅黑";
	font-size: 18px;
	line-height: 44px;
	margin-left: 43px;
	color: #fff;
}
.leader ul li.active1{
	background-color: #50bbdb;
	color: white;
	border-bottom: 2px solid black;
}
.leader ul li:hover {
	border-bottom: 2px solid black;
	background-color: #50bbdb;
	color: white;
	border-bottom: 2px solid black;
}
/*	注册*/
#myModal .modal-body{height: 658px;}
#myModal .h1{width: 172px;height: 68px;margin:0 auto;}
#myModal .sjzc{margin: 16px 0 0 360px;}
#myModal .sjzc a{text-decoration: none;color: #50bbdb}
#myModal .yx{width: 353px;height: 341px;margin: 0 auto;}
#myModal .yx input{width: 353px;height:49px;margin-top: 13px;}
#myModal .yqm{margin-bottom:0px;}
#myModal .yx a{width: 86px;height: 34px;text-decoration: none;background-color: #50bbdb;display: inline-block;text-align: center;line-height: 34px;color: #fff;margin-left: 22px;}
#myModal #pid{margin-left: 100px;} 
#myModal .yhx{margin-top: 17px; width: 353px;height: 42px; } 
#myModal .yhx span{line-height: 42px;}
#myModal .yhx input{width: 119px;height: 42px; float: right;line-height: 42px;}
#myModal .qitaa{width: 354px;margin: 0 auto;margin-top:22px; }
#myModal .qitaa p{width: 135px;height: 1px;background-color: #50bbdb; }
#myModal .left{float: left; margin-top: 10px;}
#myModal .right{float: right;margin-top: 10px;}

#two{
	height: 80px;
	background-color:white;
	}
.leader{width: 1080px;
		height: 80px;
		margin: 0 auto;
}
.leader img{
	float: left;
	margin-right: 149px;
	padding-top: 8px;
	margin-left: 40px;
}
.leader ul{
	margin: 0;
	padding: 0;
	float: left;
	height: 80px;
}
.leader ul li{

	width: 80px;
	float: left;
	list-style: none;
	font-family:微软雅黑;
	font-size: 16px;
	text-align: center;
	line-height: 80px;
	color:#a0a0a0;
	/*border-bottom: 2px solid black;*/
	/*color: red;*/
	}
/*.activeline{
	border-bottom: 2px solid black;
	background-color: #52bbdb;
}
*/
#banner{
	height: 400px;
	min-width:100%;
	border-top: 1px solid #cccccc;
	position: relative;
	overflow: hidden;
	margin-top: 1px;
}
 #banner .piclist{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
#banner .piclist li{
	 list-style: none;
	}
#banner .piclist li img{
	height: 400px;
	width: 100%;
}
#banner .num-list{
	height:20px;
	width: 125px;
    position:absolute;
	left:45%;
	top:362px;
	z-index:99;
   }
#banner .num-list li{
	list-style: none;
	width: 20px;
	height: 20px;
	background-color:white;
	border-radius: 20px;
	float: left;
	margin-left: 7px;
}
#banner .num-list .active{
	background-color:#52bbdb;
}
#banner .num-two{
	position: absolute;
	width:100%;
	top:20px;
	left:23%;
	z-index: 99;
}
#banner .num-two li{
	list-style: none;
	font-family:aaa;
	font-size:48px;
	color:#ff6600;
}
#three{
	height: 128px;
	background-color:white;
}
#search{height: 128px;
		width: 1000px;
		margin: 0 auto;
		}
#search .searchtop{
	height: 80px;
	width:500px;
	margin: 0 auto;
	}
#search .searchtop input{
	width: 432px;
	height: 38px;
	border: 2px solid #52bbdb;
	margin-top: 42px;
	float: left;
}
.picbgc{
	width:47px;
	height: 38px;
	background-color:#52bbdb;
	float: left;
	margin-top: 42px;

}
.picbgc span{
	font-size: 25px;
	margin-top: 6px;
	margin-left: 11px;
}
#search .searchbottom{
	height: 48px;
	margin-left: 262px;
	}
#search .searchbottom ul li{
	float: left;
	list-style: none;
	font-size: 14px;
	font-family: 宋体;
	color:#c3c3c3;
	margin-left: 13px;
}
#main{
	height: 2459px;
	background-color:white;
}
#main .maintop{
	height: 1425px;
	width: 1000px;
	margin: 0 auto;
}
#main .maintopa{
	height: 60px;
	width: 1000px;
	border-bottom: 1px solid #cccccc;
	overflow: hidden;
}
#main .maintopa .lia{
	font-size: 28px;
	font-family:微软雅黑;
	color:#58667d;
	float: left;
	margin-left: 2px;
	margin-right: 42px;
	margin-top:20px;
	
}
#main .maintopa .lib{
	font-family: Times New Roman;
	font-size: 24px;
	color:#999999;
	margin-right: 750px;
	float: left;
	margin-top: 25px
}
#main .maintopa .lic{
	display: block;
	font-family: 微软雅黑;
	font-size: 14px;
	color:#999999;
	text-decoration: none;
	margin-top: 35px;
	
}
.maintopb{
	width: 1000px;
	/*height: 1365px;*/
	
}
.maintopb .listnum{
	width: 327px;
	height: 441px;
	border: 1px solid #cccccc;
	float: left;
	margin-top: 24px;
	position: relative;
}
.maintopb .listnum .bgc{
	width: 326px;
	height: 45px;
	background-color:rgba(0,0,0,0.5);
	/*opacity: 0.6;*/  
	position: absolute;
	top:168px;
}
.maintopb .listnum .bgc p{
	font-family:微软雅黑;
	font-size: 18px;
	color:white;
	padding-left: 17px;
	line-height: 45px;
}
.maintopb .listnuma{
	margin-top: 9px;
	width: 327px;
	height: 441px;
	border: 1px solid #cccccc;
	float: left;
	position: relative;
}
.maintopb .listnuma .bgca{
	width: 326px;
	height: 45px;
	background-color:#656565;
	opacity: 0.6;  
	position: absolute;
	top:168px;
}
.maintopb .listnuma .bgca p{
	font-family:微软雅黑;
	font-size: 18px;
	color:white;
	padding-left: 17px;
	line-height: 45px;

}
.maintopb .last{
	height: 51px;
	background-color:#efefef;
}
.maintopb p{
	float: left;
	font-family: 微软雅黑 ;
}
.maintopb .p1{
	font-size: 28px;
	color:#ff6600;
	margin-left: 1px;
	margin-top: 5px;
}
.maintopb .p2{
	color:#ff6600;
	margin-left: 1px;
	font-size: 14px;
	margin-top: 22px;
	margin-right: 41px;
	}
.maintopb .p3{
	margin-top: 19px;
	font-size: 12px;
	color:#999999;
	margin-right: 39px;
}
.maintopb .p4{
	font-size: 14px;
	color:#ff6600;
	margin-top: 12px;
}
.maintopb .p5{
	font-size: 16px;
	color:#ff6600;
	margin-top: 12px;
}
.maintopb .lasta{
	height: 104px;
}
.maintopb .pa{
	clear: both;
	font-size: 16px;
	font-family: 微软雅黑;
	color:#666666;
	font-weight:bold;
	margin-left: 22px;
	margin-top: 21px;
}
.maintopb .pb{
	margin-left: 24px;
	font-size: 12px;
	color:#999999;;
}
.maintopb .lastb{
	height: 64px;
	position: relative;
}

.maintopb .lastb .lastbpic{
	margin-left: 22px;
	float: left;
}
.maintopb .lastb .lastbpic2{
	position: absolute;
	top:11px;
	left:178px;
}
.maintopb .lastb .click, .click1{
	position: absolute;
	top:10px;
	left:265px;
}
.maintopb .lastb .click, .click1 li{
	list-style: none;
	font-family: 微软雅黑;
	color:#666666;
	float: left;
	padding-left: 8px;
	font-size: 14px;
}
.maintopb .lastb .click li{
	float: left;
	font-family: 微软雅黑;
	color:#666666;
	float: left;
	padding-left: 8px;
	font-size: 14px;
}

.maintopb .lastb p{
	float: left;
	font-size: 12px;
	font-family: 微软雅黑;
	color:#666666;
	margin-top: 11px;
	margin-left: 7px;
}
/*.maintopb .lastb .pic{
	margin-left: 31px;
	margin-top: 11px;
}*/

.mainbottom{
	clear: both;
	height:1025px;
	width: 1000px;
	margin: 0 auto;
	
}
.mainbottoma{
	height: 110px;
	width: 1000px;
	border-bottom: 1px solid #cccccc;
	overflow: hidden;
	}
.mainbottoma p{
	float: left;
}
.mainbottoma .liq{
	font-size: 28px;
	font-family:微软雅黑;
	color:#58667d;
	margin-left: 2px;
	margin-right: 42px;
	margin-top: 60px;
	}
.mainbottoma .liw{
	font-family: Times New Roman;
	font-size: 24px;
	color:#999999;
	margin-right: 750px;margin-top: 60px;
	margin-top: 70px;
	
}
.mainbottoma .lie{
	display: block;
	font-family: 微软雅黑;
	font-size: 14px;
	color:#999999;
	text-decoration: none;
	margin-top: 85px;

	
}
#footer{
	margin-top: 88px;
	height: 91px;
	background-color:white;
}
#five{
	height: 50px;
	background-color:#444b55;
}
.footertop{
	height: 50px;
	width: 1000px;
	background-color:#444b55;
	margin: 0 auto;	
}
.footertop ul li{
	list-style: none;
	float: left;
	font-family: 微软雅黑;
	font-size: 16px;
	color:white;
	line-height: 50px;


}
#six{
	height: 41px;
	background-color:#565d65;
}
.footertopa{
	height: 41px;
	width: 1000px;
	background-color:#565d65;
	margin: 0 auto;
}
.footertopa span{
	line-height: 41px;
	font-family: 微软雅黑;
	font-size: 18px;
	color:white; 

}
.box{bottom: 20px;
		right: 30px;
		position: fixed;
		text-align: center;
		
		display: none;
}
